@model DoctorViewModel

@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Add">
    First Name: <input type="text" name="FirstName" /><br />
    Last Name: <input type="text" name="LastName" /><br />
    Phone Number: <input type="text" name="PhoneNumber" /><br />
    Work Yers: <input type="text" name="WorkYears" /><br />
    Is Able To Make Prescription: <input type="checkbox" name="IsAbleToMakePrescription" /><br />
    <button type="submit" class="btn btn-success">Add</button>
</form>
