@model List<DoctorViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<a asp-controller="Home" asp-action="Add" class="btn btn-success">Go to add</a>

<form asp-controller="Home" asp-action="Index">
    <input type="text" name="FilterString"/>
    <button type="submit" class="btn btn-success">Filter</button>
</form>

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">
                    #
                </th>
                <th scope="col">
                    Name
                </th>
                <th scope="col">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var doctor in Model)
            {
                <tr>
                    <th scope="row">@(Model.IndexOf(doctor)+1)</th>
                    <td>@doctor.Name</td>
                    <td>
                        <a asp-area="" asp-controller="Home" asp-action="View" asp-route-indexOfDoctor="@Model.IndexOf(doctor)">View</a>
                        |
                        <a asp-area="" asp-controller="Home" asp-action="Delete" asp-route-indexOfDoctor="@Model.IndexOf(doctor)">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
