@model MedicineViewModel

@{
    ViewData["Title"] = "Medicine Page";
}

<form asp-controller="Medicine" asp-action="Add">
    Name: <input type="text" name="Name" /><br />
    Company Name: <input type="text" name="CompanyName" /><br />
    Active Substance: <input type="text" name="ActiveSubstance" /><br />
    Weight: <input type="number" name="Weight" /><br />
    Price: <input type="number" name="Price" /><br />
    Amount: <input type="number" name="Amount" /><br />
    Expiration Date: <input type="date" name="ExpirationDate" /><br />
    <button type="submit" class="btn btn-success">Add</button>
</form>
