@model MedicineViewModel

@{
    ViewData["Title"] = "Medicine Page";
}

<form asp-controller="Medicine" asp-action="Add">
    <p>Name:</p>
    <input type="text" name="Name" />
    <button type="submit" class="btn btn-success">Add</button>
</form>
